.body{

}

.logo{
    margin-right: auto;
    border: 2px solid gold;
    width: 20%;
    height: 500px;
}

.honiana{
border: 5px solid blue;
margin-left: auto;
margin-top: auto;
float: left;
width: 49.3%;
height: 500px;
}

.honiPic{
border: 2px solid cyan;
margin-left: auto;
}

.maria{
border: 5px solid red;
float: right;
width: 49.3%;
height: 500px;
}

.mariaPic{
border: 2px solid purple; 
margin-right: auto;
}